[submodule "src/MAPL"]
	path = src/MAPL
	url = https://github.com/geoschem/MAPL
[submodule "src/GMAO_Shared"]
	path = src/GMAO_Shared
	url = https://github.com/geoschem/GMAO_Shared
[submodule "ESMA_cmake"]
	path = ESMA_cmake
	url = https://github.com/geoschem/ESMA_cmake
[submodule "src/gFTL-shared"]
	path = src/gFTL-shared
	url = https://github.com/geoschem/gFTL-shared.git
[submodule "src/FMS"]
	path = src/FMS
	url = https://github.com/geoschem/FMS.git
[submodule "src/GCHP_GridComp/FVdycoreCubed_GridComp"]
	path = src/GCHP_GridComp/FVdycoreCubed_GridComp
	url = https://github.com/geoschem/FVdycoreCubed_GridComp.git
[submodule "src/GCHP_GridComp/GEOSChem_GridComp/geos-chem"]
	path = src/GCHP_GridComp/GEOSChem_GridComp/geos-chem
	url = git@github.com:ShreyaSharma2023/geos-chem.git
[submodule "src/GCHP_GridComp/HEMCO_GridComp/HEMCO"]
	path = src/GCHP_GridComp/HEMCO_GridComp/HEMCO
	url = https://github.com/geoschem/HEMCO.git
[submodule "src/yaFyaml"]
	path = src/yaFyaml
	url = https://github.com/geoschem/yaFyaml.git
[submodule "src/pFlogger"]
	path = src/pFlogger
	url = https://github.com/geoschem/pFlogger.git
[submodule "docs/geos-chem-shared-docs"]
	path = docs/source/geos-chem-shared-docs
	url = https://github.com/geoschem/geos-chem-shared-docs.git
[submodule "src/GCHP_GridComp/GEOSachem"]
	path = src/GCHP_GridComp/GEOSachem
	url = git@github.com:ShreyaSharma2023/GEOSachem.git
[submodule "src/GCHP_GridComp/MAM"]
	path = src/GCHP_GridComp/MAM
	url = git@github.com:ShreyaSharma2023/MAM.git
[submodule "src/GCHP_GridComp/GCHP_Aerosols"]
	path = src/GCHP_GridComp/GCHP_Aerosols
	url = git@github.com:ShreyaSharma2023/GCHP_Aerosols.git
