[submodule "src/MAPL"]
	path = src/MAPL
	url = https://github.com/geoschem/MAPL
[submodule "src/GMAO_Shared"]
	path = src/GMAO_Shared
	url = https://github.com/geoschem/GMAO_Shared
[submodule "ecbuild"]
	path = ecbuild
	url = https://github.com/geoschem/ecbuild
[submodule "ESMA_cmake"]
	path = ESMA_cmake
	url = https://github.com/geoschem/ESMA_cmake
[submodule "src/GIGC_GridComp/GEOSChem_GridComp/geos-chem"]
	path = src/GIGC_GridComp/GEOSChem_GridComp/geos-chem
	url = https://github.com/geoschem/geos-chem
[submodule "src/GIGC_GridComp/AdvCore_GridComp"]
	path = src/GIGC_GridComp/AdvCore_GridComp
	url = https://github.com/geoschem/FVdycoreCubed_GridComp.git
[submodule "src/GIGC_GridComp/geos-chem"]
	path = src/GIGC_GridComp/geos-chem
	url = https://github.com/geoschem/geos-chem
[submodule "src/fms"]
	path = src/fms
	url = https://github.com/geoschem/fms
[submodule "src/gFTL-shared"]
	path = src/gFTL-shared
	url = https://github.com/geoschem/gFTL-shared.git
